<!DOCTYPE html>
{% import 'paginations.html' as pagectrl %}
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>撰写博文</title>
        <!-- Bootstrap core CSS -->
        <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom fonts for this template -->
        <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <!-- Custom styles for this template -->
        <link href="static/css/blog.css" rel="stylesheet">
    </head>

    <body>
        <!-- Navigation -->
        {% include 'navigation.html' %}

        <!-- Page Content -->
        <div class="container">

            <div class="row my-4">

                <!-- new blog -->
                <div class="col-md-8">
                    <div class="card mb-4">
                        <h5 class="card-header">写博文</h5>
                        <div class="card-body">
                            <form method="POST">
                                <div class="form-row mb-3">
                                    <div class="col-md-10">
                                        <input type="text" name="title" class="form-control" placeholder="标题...">
                                    </div>
                                    <div class="col-md-2">
                                        <select name="category" class="form-control">
                                            {% for c in cates %}
                                            <option>{{ c.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-row mb-3">
                                    <div class="col-md-12">
                                        <textarea name="content" class="form-control" rows="12">正文...</textarea>
                                    </div>
                                </div>

                                <div class="form-row">
                                    <div class="col-md-12">
                                        <input type="submit" class="btn btn-secondary btn-block" value="发布">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <!-- Sidebar Widgets Column -->
                {% include 'sidebar.html' %}

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class="py-5 bg-dark">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-10 mx-auto">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <p class="m-0 copyright text-center text-white">Copyright &copy; Your Website 2019</p>
                    </div>
                </div>
            </div>
            <!--     /.container -->
        </footer>
        <!-- Footer -->

        <!-- Bootstrap core JavaScript -->
        <script src="static/vendor/jquery/jquery.min.js"></script>
        <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
